.contacts {
  min-height: 622px;
  padding: 115px 0 123px 0;
  &__btn {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 180.5px;
    height: 42px;
    border-radius: 50px;
    background-color: $main-color;
    font-weight: 900;
    font-size: 18px;
    text-align: center;
    color: white;
    border: none;
  }
  &__social {
    margin-top: 86px;
    text-align: center;
    img {
      margin: 0 31px;
    }
    &-descr {
      margin-top: 45px;
      font-weight: 500;
      font-size: 14px;
      text-align: center;
      color: #828282;
    }
  }
}
