.promo {
  min-height: 768px;
  padding: 33px 0 105px 0;
  hr {
    margin: 32px 0 40px 0;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__name {
    max-width: 124px;
    font-weight: 900;
    font-size: 47px;
    line-height: 59px;
    color: $main-color;
  }
  &__descr {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  &__lang {
    font-weight: 900;
    color: $main-color;
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    transform: rotate(180deg);
  }
  &__lang-item {
    font-weight: 900;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
    &_active {
      color: $main-color;
    }
    &:hover {
      color: $main-color;
    }
  }
  &__photo {
    margin-top: 54px;
    width: 100%;
  }
}
