@import "base/variables";
@import "blocks/promo";
@import "blocks/header";
@import "blocks/about";
@import "blocks/titles";
@import "blocks/descriptions";
@import "blocks/skills";
@import "blocks/portfolio";
@import "blocks/contacts";
@import "blocks/pageup";

* {
  font-family: "Girloy", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.container {
  max-width: 940px;
  margin: 0 auto;
}